html, body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    overflow: hidden;
    background-color:black;
}

input, select {
    font-size:0.9em;
}

table {
    margin-top:-10px;
    margin-left:7px;
}

h4 {
    font-size:1.1em;
    text-decoration:none;
    font-weight:normal;
    color:#23A4FF;
}

a {
    color:#23A4FF;
}
#container {
    width:861px;
    height: 700px;
    position:relative;
}

#left-container, 
#right-container, 
#center-container {
    height:583px;
    position:absolute;
    top:0;
    width:861px;
}

#left-container, #right-container {
    width:200px;
    color:#686c70;
    text-align: left;
    overflow: auto;
    background-color:#fff;
    background-repeat:no-repeat;
    border-bottom:1px solid #ddd;
}

#left-container {
    left:0;
    background-image:url('col2.png');
    background-position:center right;
    border-left:1px solid #ddd;
    
}

#right-container {
    right:0;
    background-image:url('col1.png');
    background-position:center left;
    border-right:1px solid #ddd;
}

#right-container h4{
    text-indent:8px;
}

#container {
    width:861px;
    background-color:black;
    color:#ccc;
    position:absolute; 
    height:100%;
}

.text {
    margin: 7px;
}

#inner-details {
    font-size:0.8em;
    list-style:none;
    text-align: left;
    overflow-y: scroll;
    width: 123%;
    height: 45%;
}

.details{
    text-align: left;
    padding-top: 2%;
}

.custcol{
    border: 1px solid #B7AAAA;
}
#log {
    position:absolute;
    top:10px;
    font-size:1.0em;
    font-weight:bold;
    color:#23A4FF;
}


#infovis {
    position: relative;
    width: 1000px;
    height: 685px;
    margin: auto;
    overflow: hidden;
}

#infovis-canvaswidget {
    height: 666px !important;
    position: relative;
    width: 1000px !important;
}

#infovis-bkcanvas, #infovis-canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100% !important;;
    height: 100% !important;;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

#infovis-canvaswidget{
    height: 600px;
    position: relative;
    width:861px;
}

.logoimg {
    margin-left: 85%;
    margin-top: 1%;
    opacity: 0.8;
    position: absolute;
    width: 9%;
    z-index: 5;
}

.well,
.nav-tabs li a{
    border-style : none;
    border-radius: 0px !important;
    opacity: 0.8;
    transition: opacity 0.3s ease-out;
    background-color: white;
    margin-bottom: 0px;

}

.well:hover,
.nav-tabs li a:hover{
    opacity: 1;
}


.rubix-panel-container {
    overflow: ;
    display: block;
    height: auto;
    background: #fff;
    margin-top: 0%;
    position: absolute;
}

.rubix-panel-header[class*=bg-] {
    margin-bottom: 12.5px;
}

.bg-lightpurple {
    background: ANTIQUEWHITE;
}

.rubix-panel-container {
    overflow: hidden;
    position: relative;
}

.rubix-panel-header[class*=bg-] {
    margin-bottom: 0.5px;
}
.container-fluid {
    padding-left: 25px;
    margin-right:0px;
    padding-right: 0px;
}
.nav-purple.nav-tabs {
    border-color: #E0AA63;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.tabs>li:first-child {
    margin-left: 25px;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li, .nav>li>a {
    position: relative;
    display: block;
}
.nav-tabs>li>a{
     color: black;
}
 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    color: black;
    cursor: auto;
}

#inner-details::-webkit-scrollbar {
    width: 7px;
}

#inner-details::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 12px rgba(0,0,0,0.3);
    border-radius: 4px;
}

#inner-details::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.sidecontainer{
    opacity: .7;
    transition: opacity 0.3s ease-out;
}
.sidecontainer:hover{
    opacity: 2;
}

#chart_div{
    transition: opacity 0.3s ease-out;
    height: 35%;
    margin-top: 3%;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
.text-center {
    margin-top: 20%;
}
.countrylist {
    margin-left: 89%;
    position: fixed;
    margin-top: 47.5%;
    width: auto;
    border: 0px solid #ccc;
    border-radius: 0px;
    font-size: 11px;
    height: 33px;
}
.widget-zoom-button.widget-zoom-in {
    top: 16px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.widget-zoom-button {
    height: 21px;
    left: 0px;
    overflow: hidden;
    position: fixed;
    cursor: pointer;
    width: 24px;
    z-index: 2;
    box-sizing: border-box;
    transition: background-color 0.16s ease-out;
}

.app-vertical-item {
    margin-top: 45.5%;
    margin-left: 66.5%;
    transform: translateZ(0);
    position: fixed;
}
.widget-zoom-button.widget-zoom-out {
    bottom: -1px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.widget-zoom-button.widget-zoom-in:hover .widget-zoom-icon {
    background-position: -30px 0;
}
.widget-zoom-button.widget-zoom-in .widget-zoom-icon {
    background-position: 0 0;
}
.widget-zoom-button .widget-zoom-icon {
    background-size: 120px 30px;
    display: block;
    height: 15px;
    left: 7px;
    position: absolute;
    border: 0px solid #ccc;
    top: 7px;
    width: 15px;
}
.fa {
        color: gray;
}
.widget-zoom-button.widget-zoom-out .widget-zoom-icon {
    background-position: 0 -15px;
}
.widget-zoom-slider-seek-bar-bootstrap {
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.15);
    cursor: default;
}
.widget-zoom-slider-seek-bar {
    position: absolute;
    margin-left: 13px;
    margin-top: 29px;
    background-color: rgb(255,255,255);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
}
.widget-zoom-slider-scrubber {
    width: 25px;
    height: 8px;
    position: absolute;
    margin-top: 2px;
    margin-left: -11px;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    border-radius: 2px;
}
.grabbing-cursor {
    cursor: -webkit-grabbing;
}
.noselect {
    -webkit-user-select: none;
}
.widget-zoom.noselect.widget-zoom-slider-invisible {
    height: 57px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0);
}
.widget-zoom {
    cursor: pointer;
}
#reportbtn{
    margin-top: 47.5%;
    margin-left: -89%;
    z-index: 5;
    font-size: 11px;
    padding: 6px 12px;    
    border: 0px;
    height: 33px;
    position: fixed;
    opacity: .8;
    border-radius: 0px;
    -webkit-appearance: button;
}
#product_report{
    border-radius: 0px;
    margin-top: 3%;
    height: 33px;
    padding: 6px 12px;
    font-size: 11px;
}
#advertisor_list{
    width: auto;
    border-radius: 0px;
    padding: 0px;
    margin-top: 3%;
    font-size: 11px;
}
#reportbtn:hover,
#product_report,
#countrylist:hover{
    opacity:1;
}

#loading{
    margin-left: 72%;
    margin-top: -6%;

}
/*Wizard CSS*/
#accordion .collapsing, #accordion .collapse.in
{
  z-index: 20;
  background-color:#fff;
  width: 101%;
  position: absolute;
}
.opencollapse{
    margin-left:45%;
}
.top_menu {
    padding: 5px 0px;
}
#collapseOne{
    width: 100%;
}

.wizard {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.wizard ul li:first-child {
    border-radius: 4px 0 0 4px;
    padding-left: 20px;
}
.wizard ul li.complete {
    background: #bdea74;
    color: white;
}
.wizard ul li:first-child {
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
}
.wizard ul li {
    float: left;
    margin: 0;
    padding: 0 20px 0 30px;
    height: 40px;
    line-height: 40px;
    position: relative;
    background: #f7f7f8;
    color: #b2b8bd;
    font-size: 16px;
    cursor: default;
}
.wizard ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    width: 4000px;
}
.wizard ul li.active {
    background: #b2b8bd;
    color: white;
}
.box-content {
    padding: 10px;
    margin-left: 2%;
}
.wizard ul li .chevron {
    border: 48px solid transparent;
    border-left: 28px solid white;
    border-right: 0;
    display: block;
    position: absolute;
    right: -14px;
    top: -28px;
    z-index: 1;
}
.wizard ul li .badge {
    margin-right: 8px;
}
.wizard ul li .active .badge {
    background: #67c2ef;
}
.panel-group {
    margin-bottom: 0px; 
    width: 100%;

}
/*File Uploader css*/
.close{
    font-weight: 100;
    position:relative;
    top: 1px;
}
.clearfix {
    *zoom:1;
}
.clearfix:before,.clearfix:after {
    display:table;
    content:"";
    line-height:0;
}
.clearfix:after {
    clear:both;
}
.hide-text {
    font:0/0 a;
    color:transparent;
    text-shadow:none;
    background-color:transparent;
    border:0;
}
.input-block-level {
    display:block;
    width:100%;
    min-height:30px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.btn-file {
    overflow:hidden;
    position:relative;
    vertical-align:middle;
    margin-left: -19%;
    margin-top: 25%;
}
.btn-file>input {
    position:absolute;
    top:0;
    right:0;
    margin:0;
    opacity:0;
    filter:alpha(opacity=0);
    transform:translate300px,0) scale(4);
    font-size:23px;
    direction:ltr;
    cursor:pointer;
}
#result{
    margin-top: 10%;
}
#progress_bar{
    margin-top: 25%;
    margin-left: 577%;
}
#result .progress{
    margin-top: 2%;
    margin-left: 1%;
}
#choose_file_val{
    margin: -27px 123px -14px;
}
#success .fa{
    margin-top: -44%;
    margin-left: 682%;
    color: #3DA73D;
}
#btn-file,
#result,
#success{
    margin-left:-5%;
    margin-top: 5%;
}
#result .well {
    border-style: solid;
    margin-left: 5%;
    border-radius: 1px !important;
}
#nextpane{
    margin-top: 5%;
}
#prev{
    margin-left: -2%;
}
#maptable{
    border-top: 0px;
    border-bottom: 0px;
    font-size: 15px;
    font-weight: 200;
}
.table>tbody>tr>td{
    padding: 3px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px;
}
.table>tbody>tr>td>label{
    font-weight: 200;
}
.selectpicker{
    padding: 3px 12px;
    border-radius: 1px;
}
.table>thead>tr>th{
    border-bottom: 0px;
}
#add_select{
    margin-top: 0%;
    margin-left: 1%;
}
#table_col_head{
    width: 217px;
}
#status_icon{
    margin-left: 10%;
    margin-top: -32px;
}
#add_icon{
    text-decoration: none;
}
#mapping_success_icon{
    margin-left: 45%;
    margin-top: -3%;
    color: green;
}
.multiselect-container {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
sup { 
    vertical-align: super;
    font-size: 12px;
    color: red;
}
#note{
    font-size: 11px;
}
#note sup{
    font-size: 8px;
}
#contentstep3{
    text-align: -webkit-left;
    border-style: hidden;
    opacity: 0.8;
    transition: opacity 0.3s ease-out;
    background-color: white;
    margin-bottom: 0px;
    margin-left: 1%;
    border-width: 16%;
    width: 96%;
}
.status_title{
    margin-left: 1%;
    margin-top: 2%;
}
