<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/xantar_app/css/base.css" />
</head>

<body onload="init();" id="body">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div style="margin-left: -85%;">
                <img src="static/xantar_app/images/kantar2.png" alt="Kantar" class="logoimg">
            </div>
            <div id="container">
                <div id="center-container">
                    <div id="infovis"></div>
                </div>
                <div id="log"></div>
            </div>
        </div>
        <div class="col-md-4 pull-right topposition">
            <div class="row">
                <div id="chart_div" class="well">
                </div>
                    <div class="tabbable">
                       <ul class="nav nav-tabs">
                          <li class="active"><a href="#tab1" data-toggle="tab">Relationship Details</a></li>
                          <li ><a href="#tab2" data-toggle="tab">Node Details</a></li>
                       </ul>
                       <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div id="nodedetails" class="well">
                                    <h6 align="left"><b>Relationship Details</b></h6>
                                    <div id="inner-details">
                                    </div>
                                </div>
                            </div>        
                            <div class="tab-pane" id="tab2">
                                <div class="well">
                                    <div class="row">
                                        <div class="col-md-6 custcol">
                                            <div id="eachnode-img">
                                                <img src="static/xantar_app/images/car.jpg" height="36">
                                            </div>
                                        </div>
                                        <div class="col-md-6 custcol">
                                            <div id="eachnode-head" class="details">
                                            </div>
                                        </div>
                                    </div>  
                                    <div class="row">
                                        <div id="eachnode-details" class="details"></div>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/xantar_app/js/samplejit.js"></script>
    <script src="static/xantar_app/js/jit.js"></script>
    <script src="static/xantar_app/js/jit-yc.js"></script>
    <script src="static/xantar_app/js/jsapi.js"></script>
    <script src="static/xantar_app/js/barjs.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
