<html>
<head>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/xantar_app/css/base.css" />
    <link rel="stylesheet" href="http://css-spinners.com/css/spinner/spinner.css" type="text/css">
</head>

<body onload="init();" id="body">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div style="margin-left: -85%;">
                <img src="static/xantar_app/images/kantar2.png" alt="Kantar" class="logoimg">
                <select class="form-control logoimg countrylist">
                     {% for each in country_list %}
                      <option class="btn-default" value="{{each}}">
                      {{each}}
                      </option>
                    {% endfor %}
                </select>
            </div>
            <div id="container">
                <div id="center-container">
                    <div id="infovis"></div>
                </div>
                <div id="log"></div>
            </div>
        </div>
        <div class="col-md-4 pull-right sidecontainer" style="height: 100%;">
            <div class="row">
               <div class="rubix-panel-container" style="z-index:9999995;overflow:;display:block;height:auto;" data-reactid="">
                <div class="rubix-panel-header bg-lightpurple fg-white" data-reactid="">
                    <div class="rubix-grid container-fluid" style="z-index:9999977;" data-reactid="">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>
                                    Graph Details
                                </h4>
                            </div>
                            <div class="col-xs-12">
                                <div id="chart_div" class="well">
                                </div>
                            </div>
                        </div>
                    </div>
                        <ul class="nav nav-tabs nav-purple" role="tablist">
                            <li class="b-tab active">
                                <a href="#id_relation" role="tab" data-toggle="tab">Node Relationships</a>
                            </li>
                            <li class="b-tab">
                                <a href="#id_details" role="tab" data-toggle="tab">Node Details</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="id_relation">
                                <div id="nodedetails" class="well">
                                    <div class="row">
                                        <div class="col-xs-10">
                                            <h6 align="left"><b>Relationship Details</b></h6>
                                            <div id="inner-details">
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="scrollbar" id="style3">
                                                <div class="force-overflow"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="id_details">
                                <div class="well">
                                    <div class="row">
                                        <div class="col-md-6 custcol">
                                            <div id="eachnode-img">
                                                <img src="static/xantar_app/images/car.jpg" height="50" width="50">
                                            </div>
                                        </div>
                                        <div class="col-md-6 ">
                                            <div id="eachnode-head" class="details">
                                            </div>
                                        </div>
                                    </div>  
                                    <div class="row">
                                        <div id="eachnode-details" class="details">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
        <div id="zoom" class="app-vertical-item">
            <div class="widget-zoom noselect widget-zoom-slider-invisible" > 
            </div>
            <button aria-label="Zoom in" class="widget-zoom-button widget-zoom-in"> <div class="widget-zoom-icon"></div> 
            </button>
            <div class="widget-zoom-slider-seek-bar widget-zoom-slider-seek-bar-bootstrap">
                <div role="presentation" class="widget-zoom-slider-seek-bar-hit-zone grabbing-cursor">
                </div> 
                <a oncontextmenu="return false;" role="slider" tabindex="0" href="javascript:void(0);" class="widget-zoom-slider-scrubber grab-cursor grabbing-cursor" style="display:none"> </a> </div>
            <button aria-label="Zoom out" class="widget-zoom-button widget-zoom-out"> <div class="widget-zoom-icon"></div> </button>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/xantar_app/js/samplejit.js"></script>
    <script src="static/xantar_app/js/jit.js"></script>
    <script src="static/xantar_app/js/jit-yc.js"></script>
    <script src="static/xantar_app/js/jsapi.js"></script>
    <script src="static/xantar_app/js/barjs.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
